body {
    background-image: url("https://i.ibb.co/vd81bw1/About-Me-Bg.jpg");
    background-repeat: no-repeat;
    background-size: 1710px 1200px;
    background-position: center;
}

img {
    position: static;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 10px;
    width: 450px;
}
