/* ABOUT ME PAGE */
#aboutbg {
    background-image: url("aboutbg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.profilepic {
    position: absolute;
    right: 200px;
    top: 150px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 10px;
    width: 450px;
    transition: transform 0.7s;
}

.profilepic:hover{
    transform: scale(1.03,1.03);
}

.aboutheader {
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat;
}

.nav a,
.nav a:visited {
    font-family: 'Times New Roman', Times, serif;
    color: #9f9f9f;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.5s ease-in-out;
}

.nav a:hover {
    color: rgb(30, 122, 56);
}

.aboutname {
    position: absolute;
    left: 84px;
    top: 57px;
    width: 1000px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
}

.aboutdescription {
    position: absolute;
    left: 170px;
    top: 270px;
    width: 600px;
    text-align: justify;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.aboutfooter {
    position: absolute;
    left: 170px;
    bottom: 100px;
    color: #e7dfdf;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    transition: transform 0.2s;
}

/* HOBBIES PAGE */

#hobbiesbg {
    background-image: url("hobbiesbg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hobheader {
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat;
}

.hobbies-title {
    position: absolute;
    left: 30px;
    top: -55px;
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}

.hobcontainer {
    width: 600px;
    height: 400px;
    background-color: #888888;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    margin: 5px;
    padding: 70px 20px;
    min-width: 400px;
    border-radius: 50px;
    position: absolute;
    left: 150px;
    top: 135px;
    color: #fcfdfd;
    opacity: 0.85;
    transition: transform 0.2s;
  }
  
.hobcontainer:hover {
    transform: scale(1.03,1.03);
}

.hobbies-text {
    position: absolute;
    left: 40px;
    top: 130px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    justify-content: center;
    list-style: none;
}

.interests-title {
    position: absolute;
    right: 30px;
    top: -55px;
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
}
.intcontainer {
    width: 600px;
    height: 400px;
    background-color: #3c3c3c;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    margin: 5px;
    padding: 70px 20px;
    min-width: 400px;
    border-radius: 50px;
    position: absolute;
    right: 150px;
    top: 135px;
    color: #ffffff;
    opacity: 0.8;
    transition: transform 0.2s;
}
  
.intcontainer:hover {
    transform: scale(1.03,1.03);
}

.interests-text {
    position: absolute;
    right: 100px;
    top: 130px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    list-style: none;
}

/* GALLERY PAGE */

#galbg {
    background-image: url("galbg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#galheader {
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(253, 253, 253);
}

#gallery-title {
    position: absolute;
    left: 75px;
    top: -50px;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}

.gal-title-container {
    width: 500px;
    height: 0px;
    background-color: #3c3c3c;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    margin: 5px;
    padding: 70px 20px;
    min-width: 400px;
    border-radius: 50px;
    position: absolute;
    right: 585px;
    top: 60px;
    color: #ffffff;
    opacity: 0.9;
  }

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: inline;
    position: absolute;
    top: 79px;
}

.prev {
    cursor: pointer;
    position: absolute;
    top: 325px;
    width: 100;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    left: -42px;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 325px;
    width: 100;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    right: -42px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    left: -15px;
    top: 10px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.numbertext {
    color: #ffffff;
    font-weight: bolder;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.active:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}